#!/bin/bash
set -x
if [[ ! -f ${HOME}/.asdf/asdf.sh ]]; then
  git clone https://github.com/asdf-vm/asdf.git ~/.asdf --branch v0.9.0
  . ${HOME}/.asdf/asdf.sh
fi
asdf update
mapfile -t tools < ~/.tool-versions
for t in "${tools[@]}"; do
  if [[ "${t}" == "aws-ssm-tools "* ]]; then
    asdf plugin add aws-ssm-tools https://github.com/amrox/asdf-pyapp.git
  else
    asdf plugin add $(echo "${t}" | cut -d ' ' -f1)
  fi
  asdf install ${t} 
done
