aws-ssm-tools 1.6.0
hyfetch 1.4.11
kubectl 1.24.17
krew 0.4.4
terraform 1.7.2
wtfutil 0.43.0
yawsso 1.1.0
lazydocker 0.23.1
dockle 0.4.14
trivy 0.49.0
packer system
kubectx 0.9.5
{{- if eq .chezmoi.os "linux" }}
helm 3.13.3
awscli 2.15.9
k9s 0.31.4
sops 3.8.1
{{ end }}
