aws-ssm-tools 1.4.2
awscli 2.9.1
bat 0.22.1
delta 0.14.0
eksctl 0.121.0
gcloud 410.0.0
glow 1.4.1
helm 3.10.2
hyfetch 1.4.4
k9s 0.26.7
krew 0.4.3
kubectl 1.25.4
kubectx 0.9.4
packer system
pre-commit 2.20.0
shellcheck 0.8.0
shfmt 3.5.1
sops 3.7.3
terraform 1.3.5
wtfutil 0.42.0
yawsso 1.0.1
